[2013-08-04 20:31] jancborchardt opened #1 "Collaboration of open source maps apps"
We have a boatload of people interested in creating an open, better maps experience. Now we need to collaborate to make sure it works across systems and not only work in our own small world. We need to make it seamless for people to have their search history, favorite places, routes etc. on all their different devices.

@houqp and @eMerzh want to work on an ownCloud Maps app. We exchanged some ide

[2013-08-04 21:35] jancborchardt opened #2 "Make map full-content, overlay search box, show sidebar only when needed"
Ok @houqp @emerzh let’s do this. If you like we can have a call about this soon. :)

* As a start it should be very simple, full-content map
* no fixed sidebar (unlike News or Notes) – but it can appear contextually, e.g. for routing or list of favorites
* Search field and any elements slightly transparent over the map.
* Places directly marked in the map, e.g. favorites or search results

See the

[2013-08-06 08:08] houqp opened #3 "location history feature"
quote from martin:

[2013-11-19 09:15] jancborchardt opened #4 "Maps app state"
Hey @houqp what's the state of this app by the way? Do you need any help?

[2014-03-23 11:40] wtayyeb opened #5 "cannot run maps app"
I have install nodejs on Ubuntu 12.04 and do like what wrote down in README.md
but the app not working and raise error 500
the errorlog is :

[code]

I dont know if `make watch` is important or not, it print somethings and at last prints `Waiting...` and nothing happened

[2014-03-24 13:19] #5 closed, assigned to nobody

[2014-07-28 08:17] jancborchardt opened #6 "OCA\\AppFramework\\Core\\API not found"
@houqp when using the latest Maps app with the latest ownCloud master, I get a white screen and this PHP error:

[code]

Any idea how to fix it @houqp @DeepDiver1975 @LEDfan @brantje?

[2014-08-14 10:22] #4 closed, assigned to nobody

[2014-08-14 10:22] #6 closed, assigned to nobody

[2014-08-14 10:26] jancborchardt opened #7 "Cache last location and viewed area"
Currently the map always starts out in Denver. The app should just cache the last area you viewed and start you off there.

[2014-08-14 10:27] jancborchardt opened #8 "Autocomplete addresses from Contacts"
When typing »Sander« into the search field (and assuming I have your address in ownCloud Contacts) I should get the suggestion »Sander, Somestreet, Somecity, Netherlands«.

This would be a great example of inter-app connection in ownCloud. If you want to see how it’s done, check out the mail app code: https://github.com/owncloud/mail (we do that for the »to« and »cc« fields)

[2014-08-14 10:28] jancborchardt opened #9 "Favorites"
It should be possible to set points as favorites. They could be shown with star markers on the map, and this layer could be possible to disable in the sidebar.

Similarly, Contacts addresses could be shown as favorites by default (or at least the addresses of the contacts you set as favorite in the Contacts app).

cc @brantje

[2014-08-18 08:54] PVince81 opened #11 "URL parameters"
When dragging the map, add URL parameters that represent the current map's center (compare with Google Maps).

This can be done somehow with `OC.History.pushState` but might need tweaking to avoid polluting the history.

Having URL parameters make it possible to quickly share the URL with someone else or simply bookmark it.

[2014-08-18 22:58] jancborchardt opened #13 "POIs shown by default"
Currently when clicking »Amenity« or »Tourism«, all the layers are shown. This is way too much. Instead we should go the other way around by not showing all but instead only a few:

By default enabled for Amenity should be
* toilets
* drinking_water
* atm
* hospital
* post_office

Tourism:
* attraction
* museum
* viewpoint

For the shops … wow – we really simply need one unified search/filter box

[2014-08-18 23:00] jancborchardt opened #14 "Contacts display doesn’t work if one single address is faulty"
The contacts layer doesn’t work for me because I get an error 500 on one address. Instead of not working at all, that address should simply be skipped. @brantje

[2014-08-19 20:32] jancborchardt opened #15 "Use leaflet awesome markers"
As @MorrisJobke said, we should best use an existing library for the category icons: https://github.com/lvoogdt/Leaflet.awesome-markers

@brantje

[2014-08-20 09:26] jancborchardt opened #16 "Make map look nicer"
Currently the map has the ugly »OpenStreetMap look«. We should style it a bit to make it look nicer, more like what Mapbox has for example.

cc @brantje

[2014-08-21 21:15] jancborchardt opened #17 "Simply search for a place"
Currently it’s not possible to do a simple search. This should be the defaut – only one search box in the top left. Routing is the second step then – look at how Google Maps does it.

@brantje @houqp

[2014-08-22 12:16] #16 closed, assigned to nobody

[2014-08-22 21:09] jancborchardt opened #18 "Suggestions don’t show as you type, only after pressing enter"
The input field suggestions are a bit confusing:

* [x] they don’t show as you type, but only after you press enter. Instead they should show as soon as I stopped typing for 500ms (so as to not fire off too many requests)
* [ ] they should stop showing up when I removed the letters

[2014-08-23 16:51] jancborchardt opened #20 "Search field should be destination, not Start"
The search box which is visible at the start should have »Search« as label, not »Start«.

And when clicking the [+] button, not the »Destination« field should appear, but rather the »Start« field. Because the place I just searched is more likely to be my destination.

See Google Maps for reference ;)

[2014-08-23 22:37] #7 closed, assigned to nobody

[2014-08-24 12:17] #11 closed, assigned to nobody

[2014-08-25 12:09] #20 closed, assigned to nobody

[2014-08-25 12:09] #17 closed, assigned to nobody

[2014-08-25 12:09] #15 closed, assigned to nobody

[2014-08-25 20:33] jancborchardt opened #21 "Search doesn’t work at the moment"
When searching for »Berlin«, I get:
[code]

@brantje

[2014-08-25 21:13] jancborchardt opened #22 "Events on the map"
It would be cool to have events show up on the map when they have a location set and are in the near future (the next 4 weeks).

@MorrisJobke mentioned that GMaps does this. Would be a great way to inter-connect ownCloud apps! cc @brantje @georgehrke

[2014-08-25 22:08] jancborchardt opened #23 "Caching contact-thumbnail-local log messages"
On every app load, I get these messages in the log:

[code]

Similar in the JS console of the browser. It kind of spams the error log, so it shouldn’t be there, right @brantje?

[2014-08-27 11:33] #23 closed, assigned to nobody

[2014-09-04 06:51] stefan-niedermann opened #27 "App Icon"
What do you think about an icon from here: http://iconmonstr.com/?s=map

The license seems to be okay: http://iconmonstr.com/license/

[code]

[2014-09-09 11:55] brantje opened #28 "Not clear how to enable location tracking"
Now, it is not clear how an user can enable device tracking.
We might add an ? icon in the 'Location tracking settings' popup.
What do you think @jancborchardt

[2014-09-09 12:36] #3 closed, assigned to nobody

[2014-10-25 21:17] gpxtrack opened #30 "Show tracks on map"
Great app :-)  I like the options menu to display additional information on the map.
I wonder if it's possible to implement functionality for viewing tracks from the uploaded files. I know there is a GPX viewer app but it doesn’t work with OC7 and it seems that the further development is discontinued. Any how it would be great to view a chosen track and toggle nearby contacts shops etc...
Would it

[2014-10-28 16:58] schtobia opened #31 "Support the other ownCloud databases except MySQL as well"
While trying to activate the maps app on my OwnCloud instance, I got the following error:
`An exception occurred while executing 'CREATE TABLE "oc_maps_locations" ("id" BIGSERIAL DEFAULT NULL, "device_hash" VARCHAR(64) DEFAULT NULL, "lat" VARCHAR(64) DEFAULT NULL, "lng" VARCHAR(64) DEFAULT NULL, "timestamp" VARCHAR(64) DEFAULT NULL, "hdop" VARCHAR(64) DEFAULT NULL, "altitude" VARCHAR(64) DEFAULT N

[2014-12-18 23:08] #27 closed, assigned to nobody

[2015-01-11 16:45] timmie opened #35 "update Readme"
Please add a small description of what the user can expect from this app.

Thanks.

[2015-02-09 14:08] guidtz opened #36 "Progress bar blocked at 38,48%"
Hello,

   it's my firt try to maps app and when i click on "Contacts" to see my contacts on map the progress bar blocked on 38,46 %.
   What can i do to see why and debug this problem ?

Sincerely

[2015-03-19 12:17] vader2014 opened #37 "TypeError: address is undefined"
Hi!

Contacts are not displayed, in the Firefox Console i get "TypeError: address is undefined"

[2015-05-26 02:47] poVoq commented on #13
I think there should be an option to disable these all together.

[2015-05-26 02:50] poVoq opened #38 "Search does not automatically zoom on best result"
If I search there seems to be a marker placed at possible search results, but I would like the map to automatically pan and zoom to the best guess result, and maybe list a set of other possible results in the side bar.

Thanks!

[2015-05-26 02:53] poVoq opened #39 "Display KML/KMZ and GPX files from owncloud"
Is there an option to display kml or gpx files by uploading it to the files section and starting the maps app?

There is a plug in for leaflet that should allow both file types. See: http://psha.org.ru/b/leaflet-plugins.html

An advanced option would be to allow selecting layers of multiple kml and gpx files to be displayed the same time, but for now a simple show kml from the files app would do.

[2015-06-02 17:53] DJaeger commented on #28
Have looked at the source code and it seems to be for OsmAnd:

http://_YourAddressToOwnCloud_/index.php/apps/maps/api/1.0/location/update?hash=_YourDeviceHash_&lat={0}&lon={1}&timestamp={2}&hdop={3}&altitude={4}&speed={5}

You have to change _YourAddressToOwnCloud_ to somethink like _example.com/owncloud_
and _YourDeviceHash_ to the Hash you generated from the gear-menu in the maps-app.

I will te

[2015-06-05 15:45] DJaeger commented on #28
I have created an PR to fix an issue with Osmand: #40
With that it should work like expected and the above mentioned adress.

For GPSLogger you can use the following working address:
http://_YourAddressToOwnCloud_/index.php/apps/maps/api/1.0/location/update?hash=_YourDeviceHash_&lat=%LAT&lon=%LON&timestamp=%TIME&hdop=%ACC&altitude=%ALT&speed=%SPD

Also here:
You have to change YourAddressToOwnClou

[2015-06-05 16:12] DJaeger commented on #28
Just to know:
For GPSLogger to use with this feature you need the current version, that is not available in F-Droid.
It works with location services at hight and low accuracy and also in the background (only background service and app closed).

Osmand works also with the current version from F-Droid.
But it requires one of the folloing scenarios to work:
 - run in foreground (app open) with locati

[2015-06-05 16:13] DJaeger commented on #30
For more information on tracking your device see here:
https://github.com/owncloud/maps/issues/28

[2015-07-03 15:48] brantje opened #41 "Todo list summer 2015"
So in the week of 3-8 till 9-8 i have a week off, and i decided to spend that time on the maps app.
This issue will contain all the little issues i want todo in that week.
If you have any additions, feel free to submit them.
- [ ] Issue #21
- [ ] Issue #22

[2015-08-03 22:13] srt10coupe opened #43 "maps on oC 8.1.*"
compatible with newer versions oC?

[2015-08-05 06:30] hitam4450 opened #44 "http://www.opensourcemap.org/"
Suggestion:
How about  to incorporate maps / website http://www.opensourcemap.org/ into OwnCloud ???

Regards, hitam4450

[2015-08-05 06:33] hitam4450 opened #45 "https://www.openstreetmap.org"
Suggestion:

How about to incorporate https://www.openstreetmap.org into OwnCloud ???

Regards, hitam4450

[2015-08-05 06:36] #44 closed

[2015-08-08 18:33] jancborchardt commented on #1
cc @jonasdn from GNOME Maps as well :)

[2015-08-09 09:28] jancborchardt commented on #41
@brantje any progress here? :) Do you need some help?

[2015-08-09 09:28] jancborchardt commented on #43
@srt10coupe what is the issue or question? Did you try if it works, or does it not work?

[2015-08-09 09:28] #43 closed

[2015-08-09 09:31] jancborchardt opened #46 "Type icons not found"
Currently Maps gives some errors about not found type icons:
[code]

@Brantje @DJaeger

[2015-08-09 09:33] jancborchardt opened #47 "Maps does not load map tiles because of Content Security Policy"
From the JS log:
[code]
@LukasReschke any idea?

cc @brantje @DJaeger @houqp

[2015-08-09 09:34] jancborchardt commented on #31
@brantje it would be quite important that Maps supports all the databases which ownCloud supports, like MySQL, SQLite, PostgreSQL.

[2015-08-09 09:35] jancborchardt commented on #41
Btw, it would be cool to focus on the basic milestone: https://github.com/owncloud/maps/milestones/0.1%20%E2%80%93%20the%20basics :)

[2015-08-09 13:35] jancborchardt commented on #1
@jonasdn I opened an issue in the gnome-maps tracker about integration and which elements we could sync: https://bugzilla.gnome.org/show_bug.cgi?id=753406 cc @brantje :)

[2015-08-09 14:15] DJaeger commented on #46
For theme_park we currently do not have an icon available.
All others are fixed in #36.

[2015-08-09 15:10] DJaeger commented on #47
For me it is working like expected.
The CORS of MapQuest tiles is "Access-Control-Allow-Origin: *" so it is allowed to load the tiles from every origin.
Do you use a local address?

[2015-08-09 15:20] DJaeger commented on #46
Have also added theme_park

[2015-08-09 15:21] DJaeger commented on #45
What kind of incorporation do you mean?

[2015-08-09 15:53] DJaeger commented on #21
@brantje: Have you fixed this?
If not, would you share your findings, that someone else can fix?

[2015-08-09 15:55] DJaeger commented on #22
@georgehrke: Is the "near future" reached and the API available?

[2015-08-09 16:33] jancborchardt commented on #47
Yeah, I use localhost. Anything I need to adjust then?

[2015-08-09 21:38] DJaeger commented on #47
CORS is not working on localhost.
You have to use a public accessible address.

[2015-08-09 23:08] Henni commented on #47
@DJaeger is there any way to make it work locally as it's quite an effort to develop on a remote machine instead of developing locally? Especially because owncloud makes it so easy to setup a local development environment with ocdev.

[2015-08-09 23:33] v1r0x commented on #47
I have the same problem, but instead of localhost I use a public domain.

I get these errors (in german):
[code]

[2015-08-10 07:25] DJaeger commented on #47
Which version of owncloud and maps and which browser in which version do you both use?

[2015-08-10 10:04] Henni commented on #47
Works for me now. It was broken for me a while back on previous versions of core and maps.
(BTW I'm now using the master of core and maps and the current Chrome beta)

[2015-08-10 10:11] DJaeger commented on #47
That's great, as the current version should work.

[2015-08-10 10:18] Henni commented on #47
I just switched between branches on core and now it broke again. Even switching back to the previous branch doesn't help.

Now the icons are missing and the map tiles don't load:
![image](https://cloud.githubusercontent.com/assets/1267827/9168872/a4ffbef4-3f59-11e5-93c0-7a46cd406505.png)

[2015-08-10 10:23] v1r0x commented on #47
I'm using 8.1.0 (stable), the current maps master and latest firefox beta 40 (and for testing chromium v37)

[2015-08-10 10:26] DJaeger commented on #47
Mhm, this seems to be introduced with one of the last updates of core.
I'm on 8.0.4 and it works without issues.

[2015-08-10 10:28] LukasReschke commented on #47
Read https://statuscode.ch/2015/04/content-security-policy-and-ownCloud/ and take a look at https://github.com/owncloud/core/pull/13989, you need to add a img-src policy allowing each of these domains or even `*`.

[2015-08-10 10:53] DJaeger commented on #47
Ok, that was new to me as I'm not on 8.1.
Great article.
But this would make the app not compatible with core <8.1
So maintain a lagacy version or simply work towards a >=8.1 version?

[2015-08-10 11:28] hitam4450 commented on #45
OKI, I just installed the app and checked it out a little bit. So far, so good! However I use MAPS.ME Version 4.4.7, which uses OpenstreetMap as their base of information. I do have a large number of Bookmarks of locations, which I would like to import into the maps app. The file format for export is named .kmz ! I uploaded the file to a folder in the Fies directory, but I could not find any possi

[2015-08-10 11:30] hitam4450 commented on #45
Is it possible to make the left side panel visible / nonvisible with a toggle switch, what i suggested already in other apps, to make a small screen size more efficient ??

regards, hitam

[2015-08-10 11:35] Henni commented on #45
@hitam4450 this is what happens on mobile/small screens:
![image](https://cloud.githubusercontent.com/assets/1267827/9170603/8ba7347c-3f64-11e5-9b4d-21adcebd0297.png)

[2015-08-10 11:50] DJaeger commented on #30
Please close this issue and continue to track this in #39.
That issue includes this one with addition of KML and some more informations.

[2015-08-10 11:52] hitam4450 commented on #45
The reasoning is to maximize of the viewing area........!

[2015-08-10 11:57] DJaeger commented on #45
You can toggle the left bar with the icon top left with the three horizontal bars as (nearly) all other ownCloud apps too.

Showing kmz and gpx is already proposed in #39, but no "importing".
What do the others think, should the app also be able to import and save them to db?
It would be similar to what is happening for location tracking.

@hitam4450: Could you please rename the issue to "importin

[2015-08-10 11:58] DJaeger commented on #39
I will look into this.

[2015-08-10 12:04] Henni commented on #45
@DJaeger It would be great to store such data in the database and also edit it within the app.
But this is an issue for later.

[2015-08-10 12:18] DJaeger commented on #45
At least after #39.

[2015-08-10 12:38] hitam4450 commented on #45
@DJaeger  Sorry, I do not see any icon top left with three horizontal bars.. OC 8.0.5.2!

[2015-08-10 12:52] Henni commented on #45
@hitam4450 it's only displayed on small screens. Try resizing your browser.

[2015-08-10 12:54] DJaeger commented on #45
You can see, how it should look like in @Henni's Screenshot.
If it looks other for you please post a screenshot and which browser with which version you are using.

[2015-08-10 13:05] hitam4450 commented on #45
Well I use FF 39.0.3. I switched from full screen mode to a smaller mode and then I could see the 3 bars... still strange and cumbersome.........!

[2015-08-10 13:12] Henni commented on #45
That is the intended behavior. The sidebar should only be hidden if the window is too small and more screen space is needed.

[2015-08-10 13:16] hitam4450 commented on #45
Ic...thanks for the enlightenment! On my 10" netbook screen  the sidebar takes a large portion of the screen!

[2015-08-10 13:19] hitam4450 commented on #45
Just uninstalled the app!

[2015-08-10 13:19] #45 closed

[2015-08-10 13:21] DJaeger commented on #45
@hitam4450: You are still unclear!
What is strange and cumbersome?
Please be more clear so we can help you!

[2015-08-10 13:50] brantje commented on #47
@DJaeger A stable7 and a stable8 would be the best imo.

[2015-08-10 13:52] brantje commented on #45
@hitam4450 means that the sidebar doesn't collapse on mobile.

[2015-08-10 13:53] #30 closed

[2015-08-10 13:53] jancborchardt commented on #47
@DJaeger @brantje If it would be a more established app, I would say we need to support stable7 and stable8.

But seeing how the app is not even published on apps.owncloud.com yet I assume it doesn’t have a lot of users. I would say it’s fine if we say we just support 8.1 and later. Then we can focus on development and don’t need to maintain a bunch of old stuff.

[2015-08-10 13:56] LukasReschke commented on #47
Not necessarily.

[code]

[2015-08-10 13:57] hitam4450 commented on #45
especially on smaller screens, e.g. 10" netbook screen....... or tablets........

[2015-08-10 13:57] hitam4450 commented on #45
sorry, for my confusing comments........

[2015-08-10 14:04] Henni commented on #47
@LukasReschke Is it possible in php to encapsulate a `use` inside of an if?
[code]

[2015-08-10 14:07] LukasReschke commented on #47
No. You need to use the full namespace in this case then instead of a use statement.

[2015-08-11 08:00] DJaeger commented on #45
@brantje: If that is what @hitam4450 means that would be a bug and this should not be closed.
But as he speaks of a 10" display, this is a display of "middle big" size.
I'm not sure where the breakpoints are, but I think they are not recognized as "small" display.
So his behaviour would be correct.

[2015-08-11 08:03] Henni commented on #45
The breakpoint is at about 768 pixels I think.

[2015-08-11 08:06] stefan-niedermann commented on #45
cc @owncloud/designers
cc @jancborchardt

summary: There is a user with a 10" notebook. in his opinion the sidebar should be collapsible at this size because it takes too much space.
this is not only a maps issue. maybe a reconsideration-issue should be opened in core?

[2015-08-11 08:09] DJaeger commented on #47
I agree with @jancborchardt to simply move forward to a "release" version, which will than compatible with current versions at the time of release.
With the propose of @LukasReschke, is still only oc8 supported and no oc7, or am I wrong?

[2015-08-11 08:17] DJaeger commented on #45
@Henni: Yes, you are correct. 768px is the max for the toggle.

[2015-08-11 10:30] DJaeger commented on #46
@brantje: are you still maintaining this repo?
If not or if you don't have the time to take care of it, would you give someone the permissions to do so, that this app can move forward?

[2015-08-11 10:33] jancborchardt commented on #45
Yes, I think in the case of Maps (and also probably Calendar) the default should be to hide the sidebar (mobile mode).

Then though we still have to display the search box. Otherwise it will be a 2-step process to search.

[2015-08-11 10:35] jancborchardt commented on #45
Also @hitam4450 maybe take a bit more time to think your comments through, and use less exclamation marks (!). It comes off as rude and unhelpful otherwise. Thanks!

[2015-08-11 11:01] Henni opened #52 "Integrate maki icons"
Integrate the maki icons which are already used in this repository.
This reduces requests to external sites and would reduce the list of Content-Security-Policies.

[2015-08-11 11:45] jancborchardt commented on #46
@Djaeger if you want to step up and join the Maps team that would be awesome! :) I'll be there to help regarding design.

@karlitschek can you add @DJaeger to the ownCloud organization?

[2015-08-11 11:49] DJaeger commented on #46
I'd be glad to.

[2015-08-11 11:59] DJaeger commented on #52
They can be found here:
https://github.com/mapbox/maki

This would also allow owncloud to hande the caching itself.

[2015-08-11 12:06] DJaeger commented on #45
The searchbox could be displayed, as on osm.org when expended the menu, inside a bar on the top.
Or like GMaps as flying layer.

[2015-08-11 12:13] hitam4450 commented on #45
I  certainly agree to the discussion if the left side panel should be collapsible in Core - as a general feature - or by individually each app! Opened the discussion prior in other apps!

regards., hitam4450

[2015-08-11 13:32] jancborchardt commented on #45
@DJaeger yeah, like Gmaps is what I’m thinking. An always visible part of the left sidebar. And the sidebar only expands when you press the menu button.

[2015-08-11 14:03] jancborchardt opened #54 "Integrate Mapillary for open source streetview"
See http://www.mapillary.com/map

Putting this in the backlog because it’s really really future functionality and we need to get quite some other stuff down first.

[2015-08-11 14:04] jancborchardt opened #55 "Use Tangram for 3D-looking buildings"
Maybe worth a thought https://mapzen.com/projects/tangram/ (choose the »Traditional« style in the bottom right)

But it’s something way advanced so it’s going in the backlog. :) Just putting it here to remember.

[2015-08-11 14:14] Henni commented on #45
@jancborchardt can we solve this in core maybe by implementing a javascript function which enables the switch? Or should the maps app simply override the css rule?

[2015-08-11 14:56] jancborchardt commented on #45
@Henni maybe it needs some adjustment from core, yes. Not sure about that though – do you want to look into that?

Essentially then the Maps app should be able to say something like »mobile mode by default« so the sidebar is hidden and only the switch is visible, even for desktops.

[2015-08-11 14:58] Henni commented on #45
@jancborchardt that's what I had in mind.
I won't look into this now. Maybe in a few days.
Could you create an issue for this? And if you like you can assign me ;)

[2015-08-11 15:20] jancborchardt commented on #1
cc @DJaeger and @Henni as well to fill you in on this.

A little update: @jonasdn (of GNOME Maps) and I talked at GUADEC (the GNOME conference). We want to do a GNOME+ownCloud joint proposal for next year’s Google Summer of Code on syncing the Maps apps:
https://wiki.gnome.org/Outreach/SummerOfCode/2016/Ideas#Untriaged_Ideas – see »Synchronize GNOME Maps With ownCloud« :)

[2015-08-11 15:28] DJaeger commented on #45
Please use this issue for maintaining the change in this app as this is the purpose of this issue.
It simply needs to be renamed to be more clear.

[2015-08-11 16:33] #47 closed

[2015-08-11 16:37] jancborchardt opened #57 "Show profile pictures on map for Contacts display"
As mentioned in https://github.com/owncloud/maps/pull/53#issuecomment-129912732, it would be cool to show the profile images from Contacts on the map for the contact display.

cc @v1r0x you up for doing that as well? cc @Henni @DJaeger @brantje

[2015-08-11 16:41] jancborchardt commented on #45
Nah, this issue started out as something completely different. I opened a new one in core: https://github.com/owncloud/core/issues/18213

[2015-08-11 16:45] v1r0x commented on #57
I should write my master's thesis, but yes, I'm currently trying to fix it ;)

[2015-08-11 16:46] jancborchardt commented on #57
:D:D:D

[2015-08-11 17:50] v1r0x commented on #57
It works for me now, but the URL of the image is hardcoded and I think there should be an easy way to get the profile images.
What I did, is looking for the `photo` field in the contact vcard and extract some metadata information. With that, I can browse to the following URL:
`https://owncloud.your.tld/index.php/apps/contacts/addressbook/<backend>/<uid>/contact/<cid>/photo`
This is the URL I use i

[2015-08-11 17:53] DJaeger commented on #57
Please make it an option.
So users can choose to see images on the map or a simple map marker and see more after click on it (by viewer some data incl. the image in a popup with link to full contact).

[2015-08-11 17:55] DJaeger commented on #57
@v1r0x: How about showing the images the same way as in this cantactlist on the left?

[2015-08-11 17:59] v1r0x commented on #57
What exactly do you mean?

[2015-08-11 18:12] jancborchardt commented on #57
@v1r0x we do the same in the Mail app, where we show the avatars in the message list. The relevant code is at https://github.com/owncloud/mail/blob/master/lib/controller/messagescontroller.php#L142

@DJaeger with ownCloud we prefer to solve things through proper design and decisions rather than offloading that to every single person. People would rather have things work correctly and a software wh

[2015-08-11 18:42] v1r0x commented on #57
I forgot that there is a difference between contacts and users :/
I think the only possible solution is the way I did it or to get the base64 image from the database.
What do you think?

[2015-08-11 18:59] jancborchardt commented on #57
@v1r0x did you check how we do it in the Mail app? There we also get it from the Contacts app.

[2015-08-11 18:59] jancborchardt commented on #57
Maybe @DeepDiver1975 or @ChristophWurst can help with how we do this in the Mail app, beyond the code I pasted above.

[2015-08-11 19:51] v1r0x commented on #57
Is there a js api?
In the mail app this is done in the controller using php.

[2015-08-11 20:22] jancborchardt commented on #57
@DeepDiver1975 should know more. Maybe @babelouest as well?

[2015-08-11 20:34] v1r0x commented on #57
@jancborchardt what do you think about this PR?

[2015-08-11 20:39] jancborchardt commented on #57
Link for reference: https://github.com/owncloud/maps/pull/58 :)

[2015-08-11 21:10] jancborchardt opened #59 "Deactivate »Contacts« entry if contacts app is not installed or there are no contacts"
From https://github.com/owncloud/maps/pull/58#issuecomment-130064294:

[2015-08-11 21:11] jancborchardt commented on #59
cc @v1r0x @Henni

[2015-08-11 21:47] v1r0x commented on #59
hope #60 works :)
the PR is based on master, not on #58 so one has to merge these two

[2015-08-11 22:30] jas4711 commented on #28
There is a new app called "Self-Hosted GPS Tracker" in F-Droid that appears to be able to do the right thing -- however I haven't figured out how to get my YourDeviceHash yet...

[2015-08-11 22:56] jas4711 commented on #39
Supporting this would be excellent -- would be a first step towards replacing Runkeeper/GarminConnect/etc for me.

I have looked into GPX/etc support for Leaflet, and from what I can tell there are two better alternatives than the one suggested above:

1) https://github.com/mapbox/leaflet-omnivore - loads files on server-side, supports GPX/KML/etc. There is a demo here: https://www.mapbox.com/mapb

[2015-08-11 23:46] DJaeger commented on #28
I have seen this app too and have the check, how to work with this, on my todo.
I also want to create some kind of documentation for location tracking.

[2015-08-12 11:12] srt10coupe commented on #43
git pull (update maps) all done thx

[2015-08-12 13:23] v1r0x commented on #57
Can we close this, since #58 has been merged?

[2015-08-12 13:45] Henni commented on #57
@v1r0x great fix!

[2015-08-12 13:45] #57 closed

[2015-08-12 14:08] jancborchardt commented on #57
@v1r0x if you add the keyword »fix #57« (with the respective issue number) to a commit in a pull request, or to the body text of a pull request then it will autoclose the issue on merge. :)

[2015-08-12 14:10] v1r0x commented on #57
thanks!

Will do it next time :)

[2015-08-12 14:13] jancborchardt commented on #14
Fixed thanks to @v1r0x! :)

[2015-08-12 14:13] #14 closed

[2015-08-12 14:35] DJaeger commented on #39
I think we should use the first one, as our purpose is to either open such files from within owncloud or them from the app's own database.

[2015-08-12 17:10] v1r0x commented on #59
I didn't saw the "or there are no contacts". But I would still display it if the user has no contacts. Otherwise the user wouldn't know that there is this cool feature ;)

[2015-08-12 18:00] jancborchardt opened #64 "Cache contacts display data"
Currently every time you click on »Contacts«, it needs to load completely from scratch. The data should be cached somehow so it doesn’t take as long.

cc @v1r0x @Henni

[2015-08-12 22:37] v1r0x commented on #37
should be fixed, can someone close it?
cc @jancborchardt @brantje @DJaeger @Henni

[2015-08-12 22:45] #37 closed

[2015-08-12 22:47] jancborchardt commented on #31
Does someone want to pick this up @v1t0x @Henni @DJaeger @brantje?

[2015-08-12 22:47] jancborchardt commented on #31
@v1r0x I mean :)

[2015-08-12 22:49] jancborchardt commented on #36
Thisbisbprobably fixed thanks to @v1r0x, please test again. :)

[2015-08-12 22:49] #36 closed

[2015-08-12 22:49] v1r0x commented on #31
I'm a MySQL guy and have nothing to test, sorry

[2015-08-12 22:50] jancborchardt commented on #41
Closing this for now – let's continue in the respective issues. :)

[2015-08-12 22:50] #41 closed

[2015-08-13 07:21] jancborchardt commented on #59
Fixed by @v1r0x with https://github.com/owncloud/maps/pull/60

Thanks a bunch! :)

[2015-08-13 07:21] #59 closed

[2015-08-13 08:34] DJaeger commented on #31
Me too.
But I would try to solve this when I have some time to create a dev instance for this.

[2015-08-13 09:00] jancborchardt commented on #31
Installing and testing with SQLite is quite easy. :)

[2015-08-15 00:43] v1r0x opened #67 "show gps data of images"
Would be great to have a feature to display images which have gps exif data.
And maybe it is possible to collaborate with @oparoz ?

[2015-08-15 13:47] oparoz commented on #67
Could you describe a bit more what you want to achieve?

I'm not even sure what this app does tbh :D

[2015-08-15 14:51] v1r0x commented on #67
Then try it! ;)
It shows a map based on openstreetmap and can show several layers (addresses of contacts, gpx tracks (PR), POIs).
My idea was to show images on the map base on their GPS Exif Data. Here a screenshot of my current implementation:
![maps_photos](https://cloud.githubusercontent.com/assets/9248714/9289368/79863e0c-436d-11e5-87dc-341568d29ebb.png)

What I meant with collaboration is, th

[2015-08-15 15:22] oparoz commented on #67
Got it now :)

I see the following problems:

* People with 1TB of pictures won't be able to turn on the image layer, so there needs to be a way to filter by folder. Do you really want to implement this in Maps? One solution could be to only show images contained in favourite folders, but that still could represent a large amount of pictures
* Apps aren't supposed to talk to one another. Per examp

[2015-08-15 15:37] v1r0x commented on #67
This is really a problem. Yes, setting a favourite folder (or only loading cached previews) could maybe work.

How about an API? I thought OC supports open APIs between Apps (but I may be wrong, though).

As fallback, yes. But imho there is already a really great gallery now and would be cool to use it. How about two Links (`<a>open in gallery app</a>` and `<a>open as popup</a>`)?

If it is not po

[2015-08-15 16:27] oparoz commented on #67
No inter-app communication API I'm afraid. Decision taken at the CTO level.

That could work, but I'll let you see how to best implement that with @jancborchardt. You don't need me for that btw, just open the direct URL to the file and the slideshow will start with that picture.

In my mobile apps, all I had to do was send GPS coordinates to the Google Maps API and they were placed on the map. Is

[2015-08-15 23:56] jancborchardt commented on #67
@oparoz this is not true! :) Inter-app communication is very important to us (like the Mail app uses Contacts etc). The point is that it should **not** be a **dependency**. So any app should work on its own even when other apps are disabled, but of course can have cool other stuff when other apps are enabled.

[2015-08-16 00:46] oparoz commented on #67
@jancborchardt - Every time proposals are made to help manage dependencies and conflicts, people are shut down and told that there shall be no app dependencies in ownCloud, by design. A rule that apps like mail, contacts and calendar are happy to violate, despite this statement by @DeepDiver1975

https://github.com/owncloud/core/issues/15763#issuecomment-94557797

So, it's a jungle out there and p

[2015-08-16 10:44] jancborchardt commented on #67
@oparoz you need to differentiate here.

There should indeed be no _hard_ app dependencies. For example no iOS or Android app depends on another one. A classic example for us is the problem that Tasks depends on Calendar (because of CalDAV, a technical detail not interesting to people).

Soft dependencies though, ideally through APIs, are very welcome and what will make ownCloud even more awesome.

[2015-08-16 18:39] v1r0x commented on #67
Ok, let's get back to topic! :)

@jancborchardt what do you think about showing two links on the marker popup? (one for open as simple overlay and one for opening gallery app (if gallery app is enabled))

@jancborchardt @Henni @DJaeger @brantje What do you think about this and #68 in general?

[2015-08-17 08:02] DJaeger commented on #67
How about doing it, like we talked about for gpx files, by showing layer switches for each folder?
With that you could minimize the files to load at once and also could simply choose only one daytrip to show.
If you are every holidays in the same hotel for example it will be impossible to determine the images location you search for, without a possibility to choose only a part of the images..

[2015-08-17 08:05] DJaeger commented on #67
But here the images should be got recursivly from the pictures folder and be shown in the direct parent folder

[2015-08-17 14:30] v1r0x commented on #67
Sounds like a good plan. There should be an option to expand a folder and load subfolders and an option to show pictures (maybe a + sign as expand and onclick as show layers, but maybe @jancborchardt has an idea)

[2015-08-18 13:27] zeenix commented on #1
Wow, I only saw these messages now. :)

[2015-08-18 19:07] DJaeger commented on #1
@jancborchardt: Has that to be approved by the Gnome project?
Should the integration of Gnome Accounts into Gnome Maps (or reversed?) be part of the GSoC proposal or is it only a dependency for it?

[2015-08-22 03:14] poVoq commented on #39
Great to see that there is progress on this.

One general remark though: it would be nice if the system would not convert .kml into .gpx internally, as you loose a lot of the functionality of .kml (like lables and geometry like circles etc.) though this.

[2015-08-24 15:30] jancborchardt commented on #1
@DJaeger see the link I posted in my previous comment – it’s already a proposal. :)

[2015-09-01 01:15] v1r0x commented on #39
the used library (omnivore) supports native kml parsing. Don't know if this is lossless. Haven't tried it with kml files. You could test it yourself (replace `omnivore.gpx(...)` with `omnivore.kml(...)`) or send me a kml file and I will test it.

[2015-09-01 10:33] poVoq commented on #39
Ahh, ok... well according to the list of features here: https://github.com/mapbox/togeojson (this is what omnivore is using), the .kml support it quite ok. Doesn't seem to support overlays, but its otherwise quite usable. Will probably test it is a few days with some files from http://www.waterpointmapper.org/

[2015-09-01 10:44] poVoq opened #69 "Run your own simple tile server in own-cloud?"
Ok... maybe this is way beyond the target of this app, but having your own custom tile server could be a really neat feature as an overlay.

A quick search brought this up:
https://github.com/klokantech/tileserver-php/
which might work for integration.

This would also allow for offline/intranet map-viewing for people with a weak net connection or other reasons why they can't easily use external m

[2015-09-01 22:48] v1r0x commented on #22
any news?

[2015-09-02 00:17] v1r0x commented on #38
I implemented this right now. But my problem is, that if the user searches for "berlin" they automatically get the city Berlin as result and the map pans to this result (which is what you want I think, and I want, too). Since it is possible to search for contacts as well, this should also load all contacts with an address in berlin. So where should the map pan to? The city or one of the contacts?

[2015-09-02 00:21] v1r0x commented on #21
Is this still present? I don't get any errors.

[2015-09-02 10:56] v1r0x commented on #39
Tested it with a testfile yesterday and seems to work.

[2015-09-02 11:17] brantje commented on #69
From the OSM docs
[code]

[2015-09-02 11:58] poVoq commented on #38
Displaying the city seems like a reasonable default behavior. Maybe some check boxes under the search field to limit the search to contacts only, or to exclude contacts (other ideas?) would make sense?

[2015-09-02 12:02] poVoq commented on #69
That really depends... and for using it to simply have a small map overlay like in the example linked in the page above you basically need no big system at all. It's a niche use of course, but the above server can also be used as a map repository for qGIS or the like, which would definitely be useful for some people.

[2015-09-02 14:37] v1r0x commented on #8
I wrote a piece of code, which filters contact names and their addresses based on the search term. But I won't create a PR, since this is currently not good code and there are still peding PRs

[2015-09-02 17:16] hitam4450 opened #70 "Import (syncing) of KMZ files"
Hi,

I use an ANDROID off line map  (MAPS.ME), which stores my locations of interests in KMZ based files.

1. Would it be possible to import KMZ files, exported from the app,  into maps to be displayed?

2. Of course syncing these files would be even more advantageous, however it is much more work and larger effort to implement this feature!

regards, hitam4450

[2015-09-02 21:53] jancborchardt commented on #8
@v1r0x yeah, I’ll hope to get to it these days. :) The ownCloud conf was very busy. Hope you can make it next year, probably end of August again! https://owncloud.org/conf

[2015-09-02 21:56] v1r0x commented on #8
@jancborchardt hopefully! There should be no thesis next year ;)
maybe you are at the 32c3 in december, too?
and don't hurry, I'm on holiday the next weeks. But I didn't want to spam more PRs with different master ;)

[2015-09-02 22:01] jancborchardt commented on #38
Yep, the city should be centered. No checkboxes or additional settings for now, as when the city is centered all Contacts should be in view anyway.

[2015-09-02 22:05] jancborchardt commented on #21
Search still doesn’t really work. No suggestions are shown, the log says:

[code]

And in the owncloud.log:
[code]

[2015-09-02 22:14] v1r0x commented on #21
Suggestions never worked for me. Normal search with searching on pressing return/enter worked.
I'm currently trying to integrate the search bar into the map (using a new version of (I think) the one which should show suggestions right now) and add the functionality of #8 to it. Maybe this could solve all search related issues

[2015-09-04 06:47] jancborchardt commented on #8
@v1r0x if you just always branch PRs off master then it should be fine. :)
Not sure yet if I’ll come to C3 this year, I was at CCCamp though. Where are you based? Let me know if you happen to be in Munich any time. :)

[2015-09-04 06:48] jancborchardt commented on #21
Cool! Yeah, that would probably work.

[2015-09-04 09:00] v1r0x commented on #8
@jancborchardt I know, but I continued master on my productive setup (I know this is not clever :D) and thus I have all my PRs already included. Will separate them after my holiday.
I'm close to Stuttgart, but I'm at Munich tonight for about 2 hours ;)

[2015-09-04 09:02] v1r0x commented on #21
the current status is in the testing branch of my fork. If you have the time, you could have a look at it.

[2015-09-04 12:03] jancborchardt commented on #21
@v1r0x if you just submit a pull request for that, it’s easier to test, review and then merge. :)

[2015-09-04 12:04] jancborchardt commented on #8
@v1r0x hehe, yeah it’s indeed not clever. ;) Master should never be worked on, only in branches which can then be opened as pull requests.

[2015-09-04 12:04] jancborchardt commented on #8
And yeah, see you later! :)

[2015-09-04 12:06] jancborchardt commented on #67
Closed by merging https://github.com/owncloud/maps/pull/68 @v1r0x?

[2015-09-04 12:06] v1r0x commented on #21
@jancborchardt will do that after my holiday. The branch was for @Henni , because I have a weird problem (function only called if there is an alert()). I just told you, if you want to have a look at the current progress ;)

[2015-09-04 12:10] v1r0x commented on #67
yes, we can close this

[2015-09-04 12:10] #67 closed

[2015-09-04 16:29] Henni opened #72 "Refactor CacheManager"
The `CacheManager` should be replaced with a `CacheMapper` like described in the [Database Documentation](https://doc.owncloud.org/server/8.2/developer_manual/app/database.html).

[2015-09-04 16:55] Henni opened #73 "Move 'new device' functionality out of settings"
The functionality to add a new device should be removed from the settings.
Instead of displaying the modal window it should be added to the 'My devices' menu.

[2015-09-05 13:47] hitam4450 commented on #39
Are there any test kmz files scheduled??

Currently I use MAPS.ME as off-line maps. They use KMZ files for storing location information.
It would be great to be able to import these files into maps, to tarnsfer easily the points of interests resp. personal locations, without any *external Cloud* service!!

regads, hitam4450

[2015-09-05 14:06] hitam4450 opened #74 "Icon of maps"
The icon of maps is almost identical with the icon of pinnit!
![pinit](https://cloud.githubusercontent.com/assets/9738727/9699747/bd9e38a2-53ed-11e5-9b50-27e7dec55ce9.png)

regards, hitam4450

[2015-09-05 17:45] v1r0x commented on #39
I tested it with a downloaded example file.
I will implement this option, but I'm currently on holiday and won't be back before the end of september.

[2015-09-07 22:13] DJaeger commented on #73
:+1:

[2015-09-13 13:24] Henni opened #75 "Make app compliant"
ownCloud offers an app-checker by executing php occ app:check-code maps.

Currently this leads to the following errors. We should fix them as far as possible:
[code]

[2015-09-28 09:29] v1r0x commented on #75
nice tool! Will create a PR later the day or tomorrow.

[2015-09-28 09:31] v1r0x commented on #74
that's true.
Maybe we could change it to something similar to google maps? @jancborchardt
or @libasys has an idea for pinit?

cc @Henni @DJaeger @brantje

[2015-09-30 16:23] v1r0x commented on #70
The first part is covered in #39
For the second one: I don't know how and where MAPS.ME stores the kmz files.

[2015-10-11 02:16] jancborchardt commented on #74
Well, it’s a maps marker icon. It’s a common place marker metaphor used in many maps apps. I suggest for @libasys to change the Pinit icon.

[2015-10-11 02:16] #74 closed

[2015-10-15 11:35] v1r0x commented on #75
please review #76

@Henni

cc @jancborchardt @brantje @DJaeger

[2015-10-15 12:11] v1r0x commented on #22
@georgehrke any news on the API?

[2015-10-16 13:07] #35 closed

[2015-10-17 14:10] DJaeger commented on #38
I think it should not center anything until a result is chosen.

[2015-10-17 14:18] DJaeger commented on #69
I think an option to define an own tile server would be much better.
This option is not usable for most users of owncloud and will probably let the app/oc freeze if activated by people who don't know the rist or don't know the recources of their system.
Let the app easy to use for the mainstream user.
Advanced user, which have enough recources for a tile server, should have enough knowledge to set

[2015-10-17 14:55] Henni commented on #69
I agree with @DJaeger on this.

[2015-10-17 19:00] DJaeger commented on #21
Any news or still at holdidays? ;-)

[2015-10-17 23:19] v1r0x commented on #21
No, back from my holiday...sadly :D
I think I should talk to @Henni or anyone else to figure out the problem. I set up a local test environment on my laptop, which should be easier to debug.
Currently I have a side project, associated with OSM/OC Maps, so I don't work 100% on maps itself, but I will definitely finish this soon ;)

[2015-10-21 01:21] jancborchardt commented on #38
@DJaeger it should definitely zoom/center on the set of results, so it’s easier to choose a specific result.

[2015-10-21 06:35] DJaeger commented on #38
@jancborchardt: Mhm, you are right.
That would realy make the choose easier.

[2015-10-21 06:47] DJaeger commented on #38
But what, if I start typing the name of a contact and not an address?
Then the results could be more widely spreaded than one single city.
Shouldn't we choose a BBOX spanning all currently shown results?
Or we always zoom and center on only the first result while typing and on hovering/focusing another one, center and zoom to only that one.

[2015-10-21 11:36] jancborchardt commented on #38
@DJaeger I’d say BBOX is a good first approach which solves the problem in a general way. We can think about zooming into the best/first result automatically later.

[2015-10-21 12:43] v1r0x commented on #38
So, If I search for "berlin" and have a contact named "Something Berlin" located in Paris, it should center to a BBOX from Paris to Berlin?

[2015-10-21 12:47] Henni commented on #38
@v1r0x yes, that's how I would solve this for now.

[2015-10-21 12:56] v1r0x commented on #38
@Henni Ok, I will move the regarding code to my test environment and try to solve it.

[2015-10-21 19:56] jancborchardt commented on #38
Yeah, we definitely need to fix this in a better way in the future as there will be lots of »Berliner Straße« as well. We can also experiment with always focusing on the best result, but a good first pass is the BBOX.

[2015-10-21 20:12] v1r0x commented on #38
Maybe waiting for the user to choose a result and pan to the selected result whould be the easiest (same as in g maps)

[2015-10-21 21:45] DJaeger commented on #38
I second the solution of @v1r0x.
I think OSM is doing it also.

[2015-10-21 22:15] jancborchardt commented on #38
In Google Maps, pressing enter after putting in a search term chooses the first (best) result and zooms to it. That seems good.

@DJaeger I wouldn’t necessarily use OSM as a good example since they do lots of things quite badly. ;) We can improve on that.

[2015-10-22 05:44] DJaeger commented on #38
But we can mention OSM if they do it the same way like G to confirm a "well known behaviour". ;-)
I think OSM has become much better in the last few years and is now in general also usable by the mainstream users.

[2015-10-25 22:56] v1r0x commented on #21
Still haven't found the problem...If anyone is interested or has an idea: https://github.com/v1r0x/maps/tree/testing (https://github.com/v1r0x/maps/blob/testing/js/3rdparty/leaflet/lib/Control.Geocoder.js#L307)

[2015-11-12 17:20] hitam4450 commented on #70
Hi,

MAPS.ME stores the kmz files in its bookmark meu item. By sharing them e.g. with Owncloud, I will be able to upload it to OC. How importing them and make them display in maps??

[2015-11-15 01:36] acaparrelli commented on #9
I can't add favorites. When I click the ling on the POI nothing happens. Tks.

[2015-11-15 08:46] jancborchardt commented on #9
cc @v1r0x for info. :)

[2015-11-15 12:53] v1r0x commented on #9
I implemented it right now. But I don't know how to get/set the name of a favorite? WIth my JS "skills" I couldn't get the information of the added POI. Any ideas how to do this?

@jancborchardt
cc @DJaeger @Henni

[2015-11-15 13:09] jancborchardt commented on #9
cc @MorrisJobke @PVince81 @Henni for JS knowledge. :)

[2015-11-15 20:58] acaparrelli commented on #9
Hi @v1r0x and @jancborchardt.
In these days I'm pretty busy, but as soon as I can I will take a look to that. Maybe joining our skills we can get through that :)

[2015-11-16 10:27] jancborchardt commented on #9
@acaparrelli would be really cool to have you on board for the Maps app when you have more free time! :)

[2015-11-16 11:02] acaparrelli commented on #9
I would love to do that @jancborchardt <https://github.com/jancborchardt>!

On 16/11/2015 11:27, Jan-Christoph Borchardt wrote:

--
AC.

[2015-11-16 18:45] v1r0x commented on #70
as said, the possibility to load and display kml files is covered in #39
In the current version only gpx files are supported, but it will work the same way for kml files.

[2015-11-17 11:50] v1r0x commented on #9
The most important question is what we want to store? Currently a user defined name, latitude, longitude, user_id and a timestamp is stored.

[2015-11-17 11:56] jancborchardt commented on #9
Additionally what Maps.me seems to store is a group, color of marker (depends on group), and a Notes field.

[2015-11-17 12:02] acaparrelli commented on #9
As Jan-Christoph I think a *Tag *(or we could call it /Group /or
/Category/) and a *Color *should be assigned to each POI.
This would be useful to group POIs (_restaurants_, _best stores_, _tapas
bars_, etc) and even to give the ability of embedding POIs Tag's maps in
public HTML websites. I mean, embed a map with _restaurants_ only or a
map with _restaurants_//+ _tapas bars_ + ...

Note field wou

[2015-11-17 12:12] v1r0x commented on #9
So if I want to add @jancborchardt address as favorite, only the lat/lon is stored without the street, city, etc.?

[2015-11-17 12:17] acaparrelli commented on #9
I think that storing city, street, number etc it would be more precise and future proof

[2015-11-17 14:00] jancborchardt commented on #9
We need to use the lat/long because you can also add favorites in random places where there’s no address or when the thing you’re trying to favorite doesn’t exist yet on OpenStreetMap. An address can be supplementary, but can never be the identifying factor.

[2015-11-17 14:02] v1r0x commented on #9
Should we only store lat/lon for now?

[2015-11-17 14:08] jancborchardt commented on #9
Start small, yep. Lat/lon is the absolute minimum. Name is next – can be prefilled by the establishment you favorite, if it is any, and can be custom filled in the future. Everything else is additional.

[2015-11-17 15:14] v1r0x commented on #9
Ok, I will create a PR with my code later

[2015-11-17 16:38] v1r0x commented on #9
Create the PR #78 but the data in the DB is always NULL. Any idea what is wrong? @jancborchardt @Henni @DJaeger

[2015-11-17 19:35] #75 closed

[2015-11-18 19:32] #70 closed

[2015-11-18 19:36] v1r0x commented on #9
Should we add the Favorite-Layer to the sidebar and showing them on the maps in the current PR #79 or in a new one?

[2015-11-19 06:33] jancborchardt commented on #9
Separate one is better – always small steps. :)

[2015-11-19 16:30] nutzmdm opened #80 "Error while running phpunit"
While running :

phpunit tests/

I get :
PHP Fatal error:  require_once(): Failed opening required '/var/www/owncloud/apps/maps/tests/../../../3rdparty/Pimple/Pimple.php' (include_path='.:/usr/share/php:/usr/share/pear') in /var/www/owncloud/apps/maps/tests/autoloader.php on line 12

[2015-11-25 02:24] v1r0x commented on #9
Now that we have a very basic favorite functionality I'd like to collect the desired contents of this issue.
- [ ] Set favorite contacts as favorite marker by default
- [ ] Add a sidebar entry (toggle) for favorites
- [ ] display favorites
- [ ] Set user-defined name
- [ ] Remove marker?

Did I miss something?

[2015-11-25 08:11] jancborchardt commented on #9
Yep, that's a good next step! I like the direct integration of favorite Contacts, good thinking.

[2015-11-25 11:02] v1r0x commented on #9
It was your idea in the OP ;)

[2015-11-25 13:40] jancborchardt commented on #9
@v1r0x lol :D I guess good job @jancborchardt then …

[2015-11-25 17:28] v1r0x commented on #80
anyone an idea?

cc @jancborchardt @Henni @DJaeger

[2015-11-25 18:53] jancborchardt commented on #80
No idea, works on our Travis at least: https://travis-ci.org/owncloud/maps

[2015-11-25 20:35] Henni commented on #9
advanced todos:
- [ ] prettier icon (cc @jancborchardt )
- [ ] prevent duplicate favorites

*maybe these should be their own issues*

[2015-11-25 20:45] v1r0x commented on #9
I think **all** icons should be prettier, not only the fav marker, so I would definitely move this to it's own issue

[2015-11-26 00:19] v1r0x commented on #9
I tried to implement the contact favorite thing, but I couldn't find any API or entry in the VCARD which allows me to get the information if a contact is starred or not. Did I miss something or is it not possible?

[2015-11-26 03:56] jancborchardt commented on #9
Is that possible with the new CardDAV API? @Henni @DeepDiver1975

[2015-12-02 16:05] jancborchardt opened #86 "Refresh should not cause the map to reset to your position"
Rather than always resetting to your position, the Maps app should save the bounding box you last saw and show that again.

When you want to change to your position, there’s already a button for it.

[2015-12-02 16:07] jancborchardt opened #87 "Error on trying to save as favorite"
Saving as favorite doesn’t work for me. I get this error:

[code]

[2015-12-02 16:28] Henni commented on #87
This might happen because the table structure is only updated when the app version increases (but I'm not completely familiar with how owncloud handles this).
Please try reenabling / reinstalling the app.

[2015-12-02 16:32] jancborchardt commented on #87
Now it works, thanks! :)

[2015-12-02 16:32] #87 closed

[2015-12-02 16:33] jancborchardt opened #88 "Adding smth to favorites should show that marker as feedback"
When you don’t have the favorites layer enabled, it’s not apparent if the item was added to favorites. To fix this, maybe just enabling the favorites layer will do the trick. At the very least, show the marker for that favorite which was set just now as feedback.

cc @Henni @v1r0x :)

[2015-12-02 17:43] DJaeger commented on #86
:+1:

[2015-12-02 17:48] DJaeger commented on #88
Maybe the user don't want the layer to be loaded, just to add a marker.

[2015-12-02 17:48] jancborchardt commented on #88
True – but what we should do, as said above:

[2015-12-02 17:49] jancborchardt commented on #86
@DJaeger you want to pick that up? :)

[2015-12-02 19:51] v1r0x commented on #88
Or we just display the yellow info popup on the top of the screen with a message?

[2015-12-03 00:59] DJaeger commented on #88
Just a feedback sounds good.
And if the layer is active the user should also see the marker appearing.

[2015-12-03 01:04] DJaeger commented on #86
That was not my intention for the comment, but sure I can look into it.

[2015-12-03 05:55] jancborchardt commented on #86
@Djaeger yeah, everyone can just feel free to work on whatever they want of course. :) This seemed to be a nice thing we can fix for a smoother experience.

[2015-12-03 05:57] jancborchardt commented on #88
@v1r0x direct feedback in the form of how it will look like and where the action took place is much better. The notifications on top are intended more for general notifications, errors, and stuff which has no specific place.

[2015-12-03 11:34] v1r0x commented on #88
What do you think about replacing the "Add to favorites" link in the popup with "Remove from favorites" or "Added"?

[2015-12-03 12:03] Henni commented on #88
I agree with @jancborchardt.
We should show the newly created marker.
But we could remove it on the next click or fade it out after a few seconds.

[2015-12-03 16:30] jancborchardt commented on #88
We should replace the link of course directly with »Remove from favorites« – it ideally should just be a star toggle next to the name of the place.

Then the marker should be shown, and it should not vanish. Otherwise you might think there was an error in saving it.

[2015-12-03 17:49] DJaeger commented on #88
I have also thought about fade out, but that could also irritate the user like @jancborchardt said.
But it could also look irritating if there is only one marked shown.
And showing the whole layer could cause unwanted loading.

I thing the fade out would be the best.
Maybe fastly fade in, blinking 3 times to let the user realize it and slowly fade out?

[2015-12-03 19:57] Henni commented on #88
@DJaeger such a animation might probably irritate users because there is too much happening (without real meaning).

I would propose that we implement it like @jancborchardt suggested. Show the newly created marker and don't animate (fade in, fade out, blink) it.

Afterwards we (and other users of the app) can test it and we can extend on it (in another PR).

[2015-12-03 22:54] DJaeger commented on #88
Ok

[2015-12-11 13:54] jancborchardt opened #89 "Modernize look of map"
Compared to stuff like Google Maps, Mapbox and Maps.me, the map style we use looks pretty old. :)

Is there a way we can modify this, with MapCSS for example?

Or is this difficult because we only get the tiles? If so, can we get nicer tiles?

cc @Henni @v1r0x

[2015-12-11 14:07] Henni commented on #89
Using MapCSS won't work because we don't render the tiles ourselves.
But we could probably use another tileserver.

[2015-12-11 14:30] hitam4450 commented on #89
@janborchardt: I agree! :thumbsup:

[2015-12-13 08:03] clinique commented on #28
Is maps reputed to work with the current 8.2.1 ? I currently can not manage to define devices (they are created but table populated with null values) neither to successfully call /location/update URL.

[2015-12-15 19:49] DJaeger commented on #89
Why not using the Mapnik tiles?

[2015-12-15 19:59] Alafazam commented on #89
If somehow we can get vector tiles, then maybe we can also have different map-themes. Like mapbox does.

[2015-12-15 20:21] DJaeger commented on #28
I have now looked into "Self-Hosted GPS Tracker".
It is not able to submit hdop, altitude and speed, so they would stay empty.
The timestamp is also only submitted with param "t".

@clinique:
I have not checked with 8.2.1 until now.
Which version of the maps app do you use?
Which app with which version do you use to submit the location?

[2015-12-15 20:43] Henni commented on #89
@DJaeger we spoke about own tile servers in https://github.com/owncloud/maps/issues/69.
I would love to see this implemented, but isn't a generic solution as most users won't know what a tile server is or even be able to set up their own.

@Alafazam I believe OpenStreetMap is not designed to work with vector tiles.
There are things like GeoJSON, but they are meant for overlays and not the base map

[2015-12-16 08:47] clinique commented on #28
@DJaeger : I took the master version on GitHub. I'm using Owntracks along with a custom node-red to HTTP Get on maps api - but with no success. I tried directly the URL in a browser, this gives me an error stating "to many redirections". I also have errors in owncloud :

{"reqId":"RDN3OPgktV0DealUL5jl","remoteAddr":"81.61.137.133","app":"PHP","message":"Undefined index: ADR at \/usr\/share\/ownclo

[2015-12-16 19:34] jancborchardt commented on #89
@Henni from https://leaflet-extras.github.io/leaflet-providers/preview/index.html, MapBox is the best one, followed by OpenStreetMap.HOT

[2015-12-17 00:48] v1r0x opened #90 "Replace "Add to favorites" with a star icon"
As mentioned in #85 by @jancborchardt there should be a togglable star icon to add/remove a favorite.

[2015-12-17 08:24] Alafazam commented on #89
@Henni No I don't have much experience with Vector Tile servers, but I have experience with gnome-maps which uses OSM. I would love to help(as much as I can).
See this too,
https://github.com/mapzen/vector-datasource/wiki/Mapzen-Vector-Tile-Service

[2015-12-23 10:44] zaphbbrox opened #92 "Get directions not working"
Apparently the navigation isn't working. I can search for locations but the app doesn't show me any directions between the different points.
Is it already implemented?
Owncloud log doesn't show anything..

[2015-12-27 19:53] jancborchardt opened #93 "Username shown in parentheses behind favorites label"
@v1r0x any specific reason why this happens? It’s really strange in a single-user environment, and even when you have multiple users but nothing shared.

[2015-12-27 21:42] v1r0x commented on #93
I think this a debug relict ;)

[2015-12-28 10:47] jancborchardt commented on #93
Let's get rid of it ;)

[2015-12-28 13:48] v1r0x commented on #93
Come to the CCH then ;)

[2015-12-28 13:53] jancborchardt commented on #93
Yep, still at BSides right across at the university. So either later or tomorrow. :)

[2015-12-28 13:55] jancborchardt commented on #38
This bites me again and again, thinking search is broken. ;) @v1r0x you said you implemented something here, can you maybe just put up a work-in-progress pull request of this? :)

[2015-12-28 13:55] v1r0x commented on #93
Have fun there. I will be here til at least 2 am. So if you have some free time :D

[2015-12-28 13:57] v1r0x commented on #38
There is a really messed up branch in my fork. We can have a look at it here and discuss what we want and what we don't want so we can start a proper and clean branch here.

[2015-12-30 14:58] jancborchardt commented on #2
@v1r0x if you find where to set the search box position in leaflet, let me know.

[2015-12-30 15:06] jancborchardt commented on #52
@Henni do you mean as replacement for these markers here?
![capture du 2015-12-30 16-05-23](https://cloud.githubusercontent.com/assets/925062/12052423/372d51b8-af0f-11e5-923f-df1c3d157d4d.png)

[2015-12-30 15:08] jancborchardt commented on #31
@DeepDiver1975 @icewind1991 @brantje do you know what is necessary for this?

[2015-12-30 15:10] jancborchardt commented on #72
@Henni I guess 0.2?

[2015-12-30 15:10] v1r0x commented on #18
Reminder for myself: Suggest contacts is covered in #8

[2015-12-30 15:14] icewind1991 commented on #31
From what I can tell the reported problem is caused by the database definition, when a field is set auto increment (`maps_locations.id`)it should not have a default set and you don't need to define an index for it.

[2015-12-30 15:14] jancborchardt commented on #39
To foster collaboration, cc'ing other folks who work on GPX apps:
- @Frank1604 of the [GPX viewer app](https://apps.owncloud.com/content/show.php?action=content&content=168505) ([source code](https://github.com/Frank1604/files_gpxviewer_extended))
- @eneiluj of [GpxPod](https://apps.owncloud.com/content/show.php/GpxPod?content=174248) ([source code](https://gitlab.com/eneiluj/gpxpod-oc))

@Frank16

[2015-12-30 15:16] jancborchardt commented on #28
Setting to 0.2 for now. :) Anyone is welcome to work on this and improve the Maps app

[2015-12-30 15:17] v1r0x commented on #31
So removing the `<default>0</default>` line in the `database.xml` should fix this?

[2015-12-30 15:23] jancborchardt commented on #73
Seems we need to rethink this whole flow. At the moment I don’t understand at all how this works :\ Can someone describe to me which steps you need to take now from start to finish? Then I can think about how to simplify.

[2015-12-30 15:24] jancborchardt commented on #22
@DeepDiver1975 @georgehrke @raghunayyar I assume that with the move of CalDAV to core, this API for the events will be provided by core?

[2015-12-30 15:27] jancborchardt commented on #69
I’d say most convenient would be if people could set their own map provider and add an API key. Like Mapbox for example. But this is definitely not an area of focus right now, so setting to 0.2. :)

(cc @freenerd of Mapbox on this cause we talked about this.)

[2015-12-30 15:31] jancborchardt commented on #21
This seems to be resolved, and only #38 (zooming in on the best result) remains.

[2015-12-30 15:31] #21 closed

[2015-12-30 15:32] jancborchardt opened #94 "Log error message »The hardcoded value you are using is deprecated«"
[code]

[2015-12-30 15:32] jancborchardt commented on #46
Reopening cause of the JS errors it spams in the log. @DJaeger would be cool if you find the time to add the rest. :)

[2015-12-30 15:39] #90 closed

[2015-12-30 15:41] jancborchardt commented on #89
Talked to @freenerd of Mapbox about this as well. As said in the related issue »Run your own simple tile server in ownCloud?« #69, the best plan of action is probably to have a means for admins to define their own tile provider with the ability to put in an API key.

[2015-12-30 21:33] jancborchardt opened #95 "Ability to remove favorites"
@v1r0x ;)

[2015-12-30 21:34] jancborchardt commented on #9
It’s all in the individual issues now so I’m closing this. Also see »Ability to remove favorites« https://github.com/owncloud/maps/issues/95

[2015-12-30 21:34] #9 closed

[2015-12-30 21:47] georgehrke commented on #22
one should just be able to use the caldav interface in core. (although some json api combined with a future php calendar api in core would probably be easier)

[2015-12-30 22:41] #93 closed

[2016-01-03 02:03] v1r0x commented on #92
Doesn't work for me, too.
I'll look into it.

[2016-01-03 02:04] v1r0x commented on #94
@jancborchardt I could not reproduce it. When did you get this error?

[2016-01-03 02:09] v1r0x commented on #73
Same problem as @jancborchardt
I remember, that I read something about using an android app and somehow integrate maps into it and vica versa. But this should definitely be straight-forward or at least explained.

Any idea how this works?

cc @brantje

[2016-01-03 02:45] v1r0x commented on #2
This is currently done with some magic in `js/script.js` but since we want to replace the search, I don't want to spend too much time to understand this.

[2016-01-03 02:48] v1r0x commented on #2
@jancborchardt Could you fix the sidebar that it is hidden by default?

[2016-01-03 02:54] v1r0x commented on #13
If we use the maki icons instead of real markers  (#52) we could display them depending on the current zoom level. E.g. if I zoom out to see the map of a city there should be only the most important ones, but as soon as I zoom in there should be more. The more I zoom in the more markers should be displayed. I already discussed it with @jancborchardt but one of our concerns was the possible impact

[2016-01-03 11:12] jancborchardt commented on #94
I guess this might be a problem with ownCloud core then, not sure though. @LukasReschke @DeepDiver1975 have you seen this issue?

[2016-01-03 11:19] jancborchardt opened #100 "Give feedback in navigation when layer is enabled"
Since multiple layers can be enabled via the left navigation, we should give some kind of feedback which are enabled.

@v1r0x can you add a `class="active"` to the link elements inside the li when they are active? Then I can style it accordingly, and for example change the icon of the favorites entry to be the yellow `icon-starred`.

[2016-01-03 11:47] jancborchardt commented on #13
Yeah, I guess basically this is how Google Maps does it – you can just click restaurants, cafés etc. We only have a static map, where you can long click some elements and hope it’s a POI, or toggle the POI layers. Showing them always will be a much better experience.

[2016-01-03 11:48] jancborchardt commented on #2
Yeah. I’m even thinking of removing the navigation bar completely for now and gradually adding back the things we need. The favorites and contacts layer toggle for example we can just display below or near the search box, right?

[2016-01-03 14:44] #31 closed

[2016-01-03 15:54] v1r0x commented on #2
I like how it is done in the google maps app on android. Having a full-screen map and swipe to the right to show the layer overlay.

[2016-01-03 17:56] jancborchardt commented on #2
Done at https://github.com/owncloud/maps/pull/101, please review! :)

[2016-01-03 23:08] #100 closed

[2016-01-04 09:00] LukasReschke commented on #94
No. Does it appear when you visit a specific URL? Seems like we have some code path that we should fix in core.

[2016-01-04 09:02] LukasReschke commented on #94
Caused by https://github.com/owncloud/3rdparty/pull/234, core issue. Will prepare PR.

[2016-01-04 09:02] #94 closed

[2016-01-05 09:17] #95 closed

[2016-01-05 09:37] jancborchardt opened #105 "Open Place popups on hovering the marker instead of click"
For quicker interaction, we should open the popups directly when hovering the marker (and close them again when mousing out). When clicking the place marker though, they could stay »pinned« open, and only close on clicking the X close icon.

Found some resources on how to do that:
- https://gis.stackexchange.com/questions/31951/how-to-show-a-popup-on-mouse-over-not-on-click
- https://github.com/Le

[2016-01-06 00:53] #2 closed

[2016-01-06 00:59] jancborchardt opened #108 "Sometimes the favicon disappears"
No idea when or why this happens. Did you also observe this @v1r0x @Henni?

[2016-01-06 01:18] jancborchardt opened #109 "Unify popup data display & style"
There’s a bunch of different ways we currently display info in the popup. And we should make it so it all has a consistent look.

The favorite popup is the best example at the moment. Nice h2 header with the most important thing in it. Not much other info though – partly by design (like not having the coordinates etc) but partly it would be cool to have details like address and opening hours.
![ca

[2016-01-06 10:43] v1r0x commented on #108
Same here, but I think this is not a maps-related issue. I think I already had this in the news app.

[2016-01-06 16:56] v1r0x commented on #109
Absolutely! I don't know how we could unify those informations. I'll look into it soon, hopefully ;)

[2016-01-07 22:23] #105 closed

[2016-01-08 16:32] jancborchardt commented on #108
Pretty sure this was fixed by adding the custom favicon, right? https://github.com/owncloud/maps/pull/110

[2016-01-08 16:32] #108 closed

[2016-01-08 16:35] v1r0x commented on #108
At least I didn't observe it since then.

[2016-01-12 15:34] Henni opened #113 "Grey bar below search field"
![image](https://cloud.githubusercontent.com/assets/1267827/12267810/305f770e-b94a-11e5-960b-d3fe96330513.png)

I couldn't find the origin of this bar in the css.
Maybe you find it @jancborchardt @v1r0x

[2016-01-12 15:58] v1r0x commented on #113
I think this is part of the routing-machine. This will be replaced in #111, hopefully ;)

[2016-01-12 16:13] v1r0x commented on #113
Is this on master?

[2016-01-12 16:17] Henni commented on #113
@v1r0x yes it is

[2016-01-12 16:28] v1r0x commented on #113
@Henni I'm on master too, but can not reproduce it. In firefox you could use rightclick>Inspect Element to get the corresponding element.

[2016-01-12 16:32] v1r0x commented on #113
Ok, I also have it (in Chrome) and as said it is part of the routing-machine, which will be replaced in #111. So I'll close.

[2016-01-12 16:32] #113 closed

[2016-01-12 16:33] Henni commented on #113
@v1r0x Great thanks!

[2016-01-12 17:53] #88 closed

[2016-01-14 00:14] v1r0x commented on #73
So is this still in 0.1 or should we add it to 0.2 (as discussed in #81)?

[2016-01-14 08:52] jancborchardt commented on #73
Since it's not understandable atm, we should comment it out for 0.1

[2016-01-14 09:09] #80 closed

[2016-01-15 12:49] jancborchardt commented on #109
In the first case (2nd screenshot) it’s the `name` property, and in the other two examples it’s the first element. So that could always be the `h2`, and the rest in the following `p`. That would already be a massive improvement.

[2016-01-15 14:15] v1r0x commented on #109
I'll have a look at it after the weekend, but we should wait with commits, because I changed some stuff in the other PRs, which would only lead to massive merge conflicts.

[2016-01-15 18:28] jancborchardt commented on #109
Yup, sure.

[2016-01-20 13:06] jancborchardt opened #116 "»This app has no minimum ownCloud version assigned. This will be an error in ownCloud 11 and later.«"
@v1r0x @Henni @brantje what’s the minimum version we run on? We should put that in the info.xml

[2016-01-20 13:36] v1r0x commented on #116
Isn't there a `requiremin` in this file? Or is this something else?
Nevertheless, I think we are 8+ or 8.1+, but not completely sure.

[2016-01-20 13:38] jancborchardt commented on #116
See https://github.com/owncloud/core/pull/21808/files#diff-fea49f0732d061e089d5ce81b2483176L10 on how the syntax needs to be :)

[2016-01-20 13:41] Henni commented on #116
`requiremin` is currently set to 7.
But we should replace it with `<owncloud min-version="7.0" />` and maybe increase it even to 9.0.

[2016-01-20 14:29] v1r0x commented on #116
Any reason for 9.0? The current max shouldn't be higher than 8.2. Otherwise we would bar people from this app.

[2016-01-20 14:41] jancborchardt commented on #116
So min 8.2 and max 9.0?

[2016-01-20 15:00] Henni commented on #116
@jancborchardt :+1:

[2016-01-21 19:26] v1r0x commented on #116
:+1:

[2016-01-30 07:43] #116 closed

[2016-02-03 23:35] v1r0x commented on #52
fixed in #112? @Henni

[2016-02-03 23:38] v1r0x commented on #46
Can we close this? Shouldn't happen with new #112

[2016-02-03 23:45] v1r0x opened #120 "Finish maki icons (add more POIs/icons and throttle api calls)"
Currently we fire too much calls to the overpass api (see https://github.com/owncloud/maps/pull/112#issuecomment-179490200).
Also there are only 'must have' POIs. We should add some more, see https://github.com/owncloud/maps/blob/master/js/script.js#L1340-L1342 for the missing POIs

refs #13 and #46 as well

[2016-02-03 23:45] v1r0x commented on #120
cc @jancborchardt @Henni

[2016-02-04 00:21] Henni commented on #52
:+1:

[2016-02-04 00:21] #52 closed

[2016-02-04 16:56] v1r0x commented on #13
I'll close this in favor of #120
@jancborchardt reopen this if you think we still need it.

[2016-02-04 16:57] #46 closed

[2016-02-04 16:57] v1r0x commented on #46
Should be fixed, please reopen if still persists

[2016-02-04 16:59] v1r0x commented on #109
Here's a list of different types we have:
- [x] POI
- [ ] normal marker v1
- [ ] normal marker v2
- [ ] favorites

[2016-02-04 18:57] stefan-niedermann opened #121 "Move documentation to GitHub Wiki"
Please move the [documentation](https://docs.google.com/document/d/1AQ9KyDkfZQKzzh9T5Y8frurbA5rCxMp3FrJPNYXvhQA/edit) to GitHub Wiki. I had to read many long issues until i found it :wink:

[2016-02-04 19:00] stefan-niedermann opened #122 "Provide JSON-API for search"
There should be an API for searching for addresses.
Otherwise every client would have to implement searching in contacts etc. itself. Providing an API would save every client much work.

[2016-02-04 19:49] #18 closed

[2016-02-04 19:53] v1r0x commented on #122
There was an API, but didn't work for me anymore, so I removed it in #111 .
But bring it back could definitaly something for the 0.2 milestone. Currently we focus on the basic functionality, which IMO doesn't include such "advanced" stuff. Hope you can wait a bit for a solution.

[2016-02-04 19:58] v1r0x commented on #92
This should have been fixed in #111, please test it with current master if it works for you and reopen if your problem still persists.

[2016-02-04 19:58] #92 closed

[2016-02-04 20:00] stefan-niedermann commented on #122
No problem. I'd be interessted in developing an android client if the app is stable. (Does not make sense yet). I'll keep an eye on this project :) Happy coding

[2016-02-04 20:01] Henni commented on #122
Maybe we can gather suggestions about what the API should offer.
@stefan-niedermann what should the API provide in your opinion?

[2016-02-04 20:03] Henni commented on #121
I didn't know this existed ;)
Is this still up to date @v1r0x ?

[2016-02-04 20:34] v1r0x commented on #121
Never heard of this. Looks like nothing/most of it isn't implemented.

[2016-02-04 20:38] ErikPel commented on #121
I think I messed up. Thought I could add separate wikis for different branches so I made wiki branch and converted that to google doc to markdown just in case you guys end up needing it.

Now it looks like it added it for the master branch also and I can't delete it since I'm not repo owner :(

So sorry, I'll make this up someday with bugfixes

[2016-02-04 21:05] stefan-niedermann commented on #122
Sure, this should be read as "WiP", just brainstorming.

# Request
[code]
# Response
Mimetype: `application/json`
[code]

[2016-02-04 21:09] stefan-niedermann commented on #121
Found it in #1 - maybe it should be adjusted and a comment left there. If anyone wants to collaborate, one will not find API-information (or old information).

Ideally there is a entry in the README.md
[code]

[2016-02-05 10:48] Henni opened #125 "Implement tests"
#83 fixed phpunit. Now we should also use it to test the php backend.

Tests should be written for:
#### Controllers:
- [ ] ApiKeyController
- [ ] FavoriteController
- [ ] LocationController
- [ ] PageController

### Mappers:
- [ ] ApiKeyMapper
- [ ] CacheManager
- [ ] DeviceMapper
- [ ] FavoriteMapper
- [ ] LocationMapper

@v1r0x As you implemented a lot of this, maybe you can also start creating

[2016-02-05 11:30] v1r0x commented on #125
Have a look at how tests are done in php, but as soon as I know it, I'll start testing.
I'd like to release 0.1 asap, but I think we should at least cover some basic tests.

[2016-02-05 12:11] Henni opened #126 "Cleanup Javascript"
[script.js](https://github.com/owncloud/maps/blob/master/js/script.js) currently has more than 1800 lines and most of the comments are code comments.

It should be cleaned up by:
- [ ] removing all code comments (we don't need them, thats what git is good for)
- [ ] adding real comments
  - [ ] every function should have its own documentation block-comment to explain what it does
  - [ ] skim the

[2016-02-05 12:17] #109 closed

[2016-02-05 12:20] v1r0x commented on #126
Was my plan before releasing 0.1. There was/is a lot of code I didn't write and didn't understand completely. Will start the clean up after finishing #120 and #38.

[2016-02-06 18:31] jancborchardt commented on #13
We should still have some categories by default which highlight certain things. Like restaurants, cafes, wifi, ATM etc. Just a few things. Lots of mobile maps apps do this and it’s quite useful. Moving to 0.2 though.

[2016-02-06 19:01] v1r0x commented on #13
In the current master we show all markers, unless the user hides the POI layer. But depending on the zoom level we show/hide some of the POIs. Thought that's what we wanted?

[2016-02-08 14:41] jancborchardt commented on #13
Yeah, that is of course awesome. I was just thinking that maybe a way to highlight an entire category of markers would be cool. Like you’re looking for a restaurant nearby, or cool wifi spots in a city you’re visiting etc. It’s a bit difficult to look for the specific markers, or type in »Restaurant« to the search.

Essentially of course this function would just be a shortcut to typing »wifi« or »

[2016-02-08 14:58] v1r0x commented on #13
I'm not quite sure what you mean. Do you want to set a different color for each POI type (wifi blue, restaurant red, ...) or sublayers in the nav bar?

[2016-02-08 16:09] jancborchardt commented on #13
The basic idea would be for example: When you click on »wifi« in that specific places list to highlight all the wifi places in the view. This could be done by colorization of the icon (if that’s easily possible), or placing a marker on every relevant place. Similarly to how we do it when you would put »restaurant« in the search box.

[2016-02-08 19:06] v1r0x commented on #13
Colorization should be easily possible. We currently have a basic POI icon css class. We could create a couple more for wifi, etc and change the background color. But I'm still not completely convinced. This would extend the nav bar, which should be as clean as possible.
Typing a poi type in the search field doesn't work with the new geocoder. I think the way google maps does it, is a good solutio

[2016-02-08 20:24] v1r0x commented on #86
The current position on the map is stored in the URL as lat and lng parameter. Thus the position should be set to this position after a refresh. Do we need more?

[2016-02-08 21:47] jancborchardt commented on #86
In the past, the geolocation automatically switched the position to there. If that’s fixed too we’re good to go. :)

[2016-02-08 21:48] jancborchardt commented on #13
Yeah, let’s put this in the backlog for now. I don’t want to completely close the idea because even though desktop Maps apps don’t do this, basically all mobile ones do – as shortcuts for typing.

[2016-02-08 22:31] v1r0x commented on #86
Riiight....Totally forgot about that. Think we still have to fix this.

ps: could you have a look at the pending PRs. We're almost done for 0.1 ;)

[2016-02-10 13:21] Henni opened #128 "Strange search results"
What are the last four results?
![image](https://cloud.githubusercontent.com/assets/1267827/12948290/61895e44-d001-11e5-92fe-6b1a4eeb79ae.png)

[2016-02-10 13:23] Henni opened #129 "Only show POI markers at high zoom"
otherwise it looks like this:
![image](https://cloud.githubusercontent.com/assets/1267827/12948352/d4b47ab6-d001-11e5-9dfd-91ca1b04e8bf.png)

[2016-02-10 13:51] #38 closed

[2016-02-10 13:53] v1r0x commented on #129
Looks funny :D
But yes, you are right. It should already be like that. I'll look into it. We should fix this in #127

[2016-02-10 13:53] v1r0x commented on #128
Entries with a star icon should be favorites.

[2016-02-10 14:14] Henni commented on #128
Was irritated by them all having the same name, but looks like I actually created all of these...

[2016-02-10 14:14] #128 closed

[2016-02-10 16:29] v1r0x commented on #128
The initial names should be more meaningful since #124 ;)

[2016-03-07 11:52] jancborchardt opened #131 "TableNotFoundException, no such table: oc_maps_apikeys"
Got this on enabling the Maps app just now:

[code]

Breaks the app. Any idea @v1r0x @Henni?

[2016-03-07 12:12] v1r0x commented on #131
I added a new table, but didn't increase the version in `info.xml`. @Henni and I decided to increase the version right before the release.

[2016-03-07 12:34] jancborchardt commented on #131
Ah, ok. I guess it would be good to jump to 0.1.0 soon because then we can just increase the patch version any time it’s needed.

[2016-03-07 12:50] v1r0x commented on #131
@jancborchardt Definitely. Still trying to fix the POI stuff.

[2016-03-07 13:19] v1r0x commented on #129
Should be fixed in current #127. Better?

[2016-03-07 15:15] aspdye opened #132 "Short Description"
I think we should replace the short description of the repository, which is currently

with:

:globe_with_meridians: Maps app for ownCloud

like ownCloud Calendar, Contacts and Music already does :wink:

[2016-03-08 12:17] #132 closed

[2016-03-10 10:49] spatialhast commented on #69
Hi! I want create ownCloud plugin to display on map (Leaflet JS library) tile cache served in user store of ownCloud.
To display tile cache on map I use script:

        var downloadUrl = OC.generateUrl('/apps/files/ajax/download.php') + '?dir=',
            dirUrl = '/geography/',
            cacheUrl = '{z}/{x}&files={y}.png',
            tileCacheUrl = downloadUrl + dirUrl + cacheUrl;

[2016-03-22 12:34] jancborchardt opened #133 "Google Summer of Code"
Yo @v1r0x, are you interested in being a Google Summer of Code student for ownCloud and work on the Maps app?

Just as initial question because we don’t have a lot of time left. We would need a proper proposal etc of course but just to check if you are interested! :) (Student application deadline is on Friday 25th: https://developers.google.com/open-source/gsoc/timeline)

cc @jospoortvliet @LukasR

[2016-03-22 12:50] jancborchardt commented on #133
Alternatively you can of course also be a mentor and get a student. In any case there needs to be an idea proposal. :) Like at https://github.com/owncloud/core/wiki/Google-Summer-of-Code#2016--current

[2016-03-22 15:50] jancborchardt commented on #133
Btw @v1r0x what is your email address? We’re also doing a collaboration with GNOME (cc @jonasdn). See »Synchronize GNOME Maps with ownCloud« at https://wiki.gnome.org/Outreach/SummerOfCode/2016/Ideas and it would be good to have you as a technical mentor there.

[2016-03-23 11:09] v1r0x commented on #133
@jancborchardt in general I'm inerested. But I'm not sure if a mentor or student would be better. Don't know if the current contacts implementation works with the new contacts app (@Henni) and there is currently no api for POIs and favorites (but shouldn't be hard to implement ;)).

[2016-03-23 11:11] v1r0x commented on #133
And what would be the TODO list as mentor/student?

[2016-03-23 12:48] nickvergessen commented on #133
Mentor: help the student to work on his task by assisting with technical questions and reviewing his code
Student: write code

[2016-03-23 15:24] v1r0x commented on #133
Thanks, but I meant the tasks regarding to maps.

[2016-03-29 11:15] e-alfred opened #134 "After adding Mapzen API Key table cannot be found"
Hello,

after adding an Api key for Mapzen I am getting this error on Owncloud 8.2.3:

[2016-04-05 07:50] jancborchardt opened #135 "Switch Contacts backend"
With 9.0 the Contacts/CardDAV backend moved into core. So for the »show Contacts on map« feature to work, we need to switch the endpoint around. @v1r0x

@DeepDiver1975 @Henni what needs to be done?

Also then for the markers we can show the new color+letter placeholders which @skjnldsv updated: https://github.com/owncloud/core/pull/23638

[2016-04-05 09:42] v1r0x commented on #135
Should we drop OC8 support or try to use the new contacts backend and fallback to the old one if the new doesn't exist?

[2016-04-05 21:25] jancborchardt commented on #135
I’d say dropping ownCloud 8.* support is totally fine. The app is in very early stages, so any time spent for backwards compatibility is wasted atm.

[2016-04-06 02:26] skjnldsv commented on #135
Agreed :)

[2016-04-06 10:18] v1r0x commented on #133
I put this issue to backlog for now. Since we don't do this in this year, we could keep it in mind for next year. Or should we close it? @jancborchardt

[2016-04-06 10:20] v1r0x commented on #134
Sorry for the late answer. Looks like you have more than one key in your database. Could you try to delete one (or both) and try again?

[2016-04-06 10:28] v1r0x commented on #135
Ok, then we (in this case we means @Henni :D) should use the new backend and drop oc8 support.
I think (or rather hope) that we only have to fix these lines:
https://github.com/owncloud/maps/blob/master/js/script.js#L1100
https://github.com/owncloud/maps/blob/master/js/script.js#L1110
https://github.com/owncloud/maps/blob/master/js/script.js#L1291
https://github.com/owncloud/maps/blob/master/js/sc

[2016-04-06 12:01] jancborchardt commented on #133
It’s fine keeping for next year. Then we can also better coordinate with @jonasdn from GNOME Maps. :)

[2016-04-19 00:18] v1r0x commented on #134
Any news @e-alfred?

[2016-04-27 07:08] GetMike commented on #134
Hi, same problem for me, when trying the maps-app ... after adding the mapzen api key, the maps-app did not work any longer:
"Exception: {\"Exception\":\"OCP\\\\AppFramework\\\\Db\\\\MultipleObjectsReturnedException\",\"Message\":\"More than one result\"
I only added one key, which i generated just before with a new account.
BTW: where/how can i find/delete this key in which database? :) You see,

[2016-04-27 07:52] v1r0x commented on #134
Sorry to hear that.
To delete your key you have to start your sql from console (e.g. `mysql -u <your username> -p -D <owncloud db-name>`) and search for your keys using something like this `SELECT * FROM oc_maps_apikeys WHERE user_id = '<your oc-username>';` and then delete all of them by ID (except the first). Do this by `DELETE FROM oc_maps_apikeys WHERE id = <apikey-id>;`

[2016-04-27 14:32] GetMike commented on #134
Thanks, found it ... and realized, that I had configured sqlite instead of mysql :)

[2016-04-27 15:31] v1r0x commented on #134
Do you know why there were two entries in the db? Maybe I should add an info that it has been added.

[2016-05-04 09:49] GetMike commented on #134
Sorry for the late answer - no, I've got no idea why there where two entries in the db. Maybe it happened when saving the key? Or during my playing around with OC and its apps ...

BTW: I used the mapzen key for "Mapzen Search". This one will not work for navigation, right? Therefore I would need the key "Turn by Turn"? Do I have to add this second key in the settings of your app? How will this wo

[2016-05-04 10:23] v1r0x commented on #134
Thanks for the answer. I'll check it on a new instance if the key is added twice.

I use the mapzen searc key too. Routing is always done using nominatim I think. The reason we added the mapzen key is that nominatim doesn't allow a dropdown list and suggestions as well.

[2016-05-04 11:43] GetMike commented on #134
Hei, the POIs are shown the first time in my map - great :)

[2016-05-05 23:29] v1r0x commented on #134
So this is fixed with the new branch?

[2016-05-09 12:58] GetMike commented on #134
Hi, it's me again ... POIs (and contacts) worked for a short time last week, but now they are no longer shown in the maps. Address search (dropdown) also does not work in Firefox, but it works in Chrome.
Updated OC to 9.0.2.

[2016-05-09 15:54] v1r0x commented on #134
Please open another issue as long if this is not related to the api key issue. And please tell me if the api key error is fixed now?

[2016-05-10 07:24] e-alfred commented on #134
I deleted the additional API keys and it works with the 0.0.6 release. Where to get the new 0.1 branch?

[2016-05-10 07:56] e-alfred opened #137 "Use HTTPS for additional resources if HTTPS is enabled on the server"
Hello,

if HTTPS is enabled on the Owncloud server (which is probably the case in most times) then most browsers block HTTP content loaded afterwards as "mixed content" like this for example:

`OverPassLayer.js?v=70370e1…:517 Mixed Content: The page at 'https://myserver/owncloud/apps/maps/#15/47.2855/12.6476' was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint 'http://overpass

[2016-05-10 08:01] e-alfred commented on #135
This would be quite a nice fix, because contacts now do not work on OC 9.0 at all.

[2016-05-10 16:54] v1r0x commented on #134
You can check out [this branch](https://github.com/owncloud/maps/pull/136) using `git checkout remove-old-apikeys`

It looks like you have some whitespaces in your key. Check out the branch and re-enter your key. I'll have a look at the mapzen doc, maybe there is a method to check if a provided key is valid

[2016-05-10 16:56] v1r0x commented on #135
Absolutely! I think @Henni (new contacts app dev) has a lot of work with the said app, but maybe he knows what to do?

[2016-05-12 11:08] ast3roid opened #138 "a file config ? Or maps*entries in config.php ?"
Is it a good idea to have an easy way to access to somes options, for examples :

[2016-07-18 06:40] Dokhra opened #139 "Mapquest Error while loading maps"
Good day!

following Error shows when Maps is loading:
As of July11, 2016, direct title access has been discontinued
![error](https://cloud.githubusercontent.com/assets/20511343/16907334/20e3d556-4cc3-11e6-924b-fa16394401e3.PNG)

Is there a solution for this problem?

best regards,
Martin

[2016-07-18 10:52] e-alfred commented on #139
This basically breaks the app completely in its current form. I hope another service can be found to replace it or the free plan can be utilized somehow.

[2016-08-31 19:02] thomas-mc-work commented on #139
Maybe mapbox can help out as they did for the same problem happened to gnome maps:

http://www.omgubuntu.co.uk/2016/07/gnome-maps-new-tile-service

[2016-09-12 09:04] NestorTejero commented on #137
I am also facing this. Is there any update on it?

[2016-12-26 09:17] emresaracoglu opened #141 "Direct tile access has been discontinued MapQuest"
Hello, I installed and i see this on my page _(I have a API key):_

http://oi64.tinypic.com/w8ugsp.jpg